<style>
div.summary p {
    font-size: 130%;
    font-style: italic;
}
div.summary p::before {
    content: "Summary: ";
    font-weight: bolder;
}
div.summary {
    /* border-left: 1px solid #999; */
    padding-left: 1em;
    /* border-right: 1px solid #999; */
    padding-right: 1em;
}
</style>
<div id="footer">
<div id="footer-text">
   <p>{last-update-label} {docdatetime}</p>
   <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    <img alt="Creative Commons License" style="border-width:0"
         src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
       <br />
         This work is licensed under a <a rel="license"
             href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
             Commons Attribution-ShareAlike 4.0 International License</a>.</p>
</div>
</div>
